h1 {
  text-align:center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.square:focus {
  outline: none;
}

.square.selected {
  background: #AAA;
  opacity: 0.4;
}

.board-row {
  text-align: center;
  display: block;
}

.board-row-block {
  display: inline-block;
}

.square:first-child {
  border-left: 2px solid #000;
}

.board-row-block:last-child .square:last-child {
  border-right: 2px solid #000;
}

.board-row.top-row .square {
  border-top: 2px solid #000;
}

.board-row:last-child .square {
  border-bottom: 2px solid #000;
}

